.CardsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
}
label{
    margin-top:45px;
}
label,.DropDownContainer{
    margin-left: 30px;
    margin-right: 30px;
}
p{
    text-align: center;
}