<label>Filter By Availabilty</label>
<div class="card bg-light DropDownContainer">
    <select (change)="Filter($event)">
        <option value="All">All</option>
        <option value="InStock">
         Available
        </option>
        <option value="OutOfStock">
         Out of Stock
        </option>
    </select>
</div>
<p>{{filteredCarsArr.length}} Results</p>
<div class="CardsList">
    <div *ngFor="let car of filteredCarsArr">
        <app-card [car]="car" (remove)="DeleteCar(car.id)" (view)="ViewCar(car.id)" [cardViewed]="false" ></app-card>
    </div>
</div>


